/* Overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styles */
.modal-content {
  background-color: white; /* Black background */
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

/* Close button styles */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

/* White text color for elements inside the modal */



/* Style the buttons inside the modal */
.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Add these styles to your CSS file */
.star-icon {
  font-size: 24px; /* Adjust the size of the stars as needed */
  color: #e9e6cb; /* Color for filled stars */
  margin-right: 5px; /* Spacing between stars */
  cursor: pointer; /* Show a pointer cursor when hovering over stars */
}

.star-icon.selected {
  color: #ffac42; /* Color for selected (filled) stars */
}

.rating-label {
  font-size: 16px; /* Adjust the font size as needed */
  margin-top: 5px; /* Spacing between stars and label */
  color: #333; /* Color for the label text */
}

.rating-level {
  font-size: 24px; /* Adjust the font size as needed */
  color: #f8ba06; /* Color of the filled stars */
}


/* Add any other styling you need for your specific design */
