/* Overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styles */
.modal-content {
  background-color: white; /* Black background */
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

/* Close button styles */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

/* White text color for elements inside the modal */



/* Style the buttons inside the modal */
.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
